
export(saws,mgee,geeUOmega,
    dfCalc,
    PsiHatCalc,
    PsiTildeCalc,
    sawsCalc,
    clogistCalc,
    clogistLoglike,
    clogistInfo,lmfitSaws)

import(gee)

S3method(print, saws)
