
export(saws,mgee,geeUOmega,
    dfCalc,
    PsiHatCalc,
    PsiTildeCalc,
    sawsCalc,
    clogistCalc,
    clogistLoglike,
    clogistInfo,lmfitSaws)

import(gee)

importFrom("stats", "binomial", "gaussian", "glm.fit", "model.extract",
             "model.matrix", "pf", "qt", "var")

S3method(print, saws)
